/* basics */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica', 'STHeitiTC-Light', 'Droid Sans', sans;
  background-color: #E5E5E5;
  font-size: 12px;
}

button, input, textarea, select, isindex, datagrid {
  font: inherit;
}

hr {
  border: 1px solid rgb(128, 128, 128);
}

b {
  font-weight: bold;
}

/* header bar */

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2C2C2C;
  color: #FFF;
  width: 100%;
  height: 64px;
}

.header .title {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  line-height: 44px;
  margin-top: 20px;
  font-size: 16px;
}

#btn_back {
  position: absolute;
  top: 28px;
  left: 10px;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

/* card container */

.content {
  margin-top: 64px;
}

#actions {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2C2C2C;
}

#actions .action {
  color: #FFF;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

/* card basics */

.container {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

#card-viewport {
  position: relative;
  width: 100%;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #E5E5E5;
}

.flash_message {
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* common card stylings */

.field {
  width: 274px;

  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10px;

  font-size: 13px;
  letter-spacing: 1px;
  background-color: #FFF;
}

.field input, .field select, .field textarea {
  width: 274px;
  height: 50px;

  border: 0;
  padding: 17px;

  background-color: #FFF;
}

.field select {
  width: 240px;
  margin-left: 17px;
}

.field textarea {
  height: 105px;
}

.field input::-webkit-input-placeholder {
  color: #000;
}

button {
  border: 0;
  border-radius: 4px;
  background-color: #FF4843;
  color: #FFF;
}

/* card specifics */

.card_login .logo-container {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 56px;
}

.card_login .field, .card_login .field input {
  width: 200px;
  height: 35px;
}

.card_login .field input {
  padding: 0 17px;
  font-size: 12px;
}

.card_login .field input::-webkit-input-placeholder {
  color: #B6B6B6;
}

.card_login section.login, .card_login section.signup {
  text-align: center;
}

.card_login section.signup {
  margin-top: 10px;
  font-size: 11px;
}

.card_login section.signup a {
  color: #4A4A4A;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 11px;
}

.card_login button.login {
  width: 200px;
  height: 35px;

  margin-top: 25px;

  font-size: 12px;
}

.card_shipping {
  padding-top: 17px;
}

.card_confirmation .field {
  box-sizing: border-box;
}

.card_confirmation .shipping {
  padding: 16px;
  font-size: 12px;
  line-height: 18px;
}

.card_confirmation .estimated_shipping_date {
  padding: 13px;
}

.card_confirmation .shipping .section_separator {
  height: 12px;
}

.card_confirmation .invoice {
  padding: 29px;
  -webkit-border-box;
  font-size: 12px;
}

.card_confirmation table {
  width: 100%;
}

.card_confirmation table tr td {
  padding-bottom: 8px;
}

.card_confirmation table tr:last-child td {
  padding-bottom: 0;
}

.card_confirmation table tr td.item {
  font-weight: bold;
}

.card_confirmation table tr td.item_detail {
  text-align: right;
}

.card_confirmation .coupon {
  position: relative;
  width: 274px;
  height: 40px;
}

.card_confirmation .coupon .coupon_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.card_confirmation .coupon .coupon_overlay button {
  width: 274px;
  height: 40px;

  font-size: 13px;
}

.card_confirmation .coupon .coupon_input {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 0;
}

.card_confirmation .coupon .coupon_input .use_coupon {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 40px;

  font-size: 13px;
}

.card_credit_card .description {
  font-size: 12px;
  text-align: center;
}

.card_credit_card .description img {
  height: 20px;
  vertical-align: middle;
  padding: 0 5px;
}

.card_done {
  padding-top: 17px;
  letter-spacing: 1px;
}

.card_done .order_id {
  background-color: #FF4843;
  color: #FFF;
  border-radius: 4px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  padding: 4px;
}

.card_done .shipping_date {
  background-color: #FFF;
  border-radius: 4px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  padding: 4px;
}

.card_done .description {
  line-height: 18px;
}

/* helpers */

.center-placeholder input::-webkit-input-placeholder {
  text-align: center;
}

/* Card Animation */

.slide-enter {
  transition: -webkit-transform .5s ease-in;
  -webkit-transform: translate3d(100%, 0, 0);
}

.slide-enter.slide-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

.slide-leave {
  transition: -webkit-transform .5s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
}

.slide-leave.slide-leave-active {
  -webkit-transform: translate3d(-100%, 0, 0);
}

/* --- */

.slide-reverse-enter {
  transition: -webkit-transform .5s ease-in;
  -webkit-transform: translate3d(-100%, 0, 0);
}

.slide-reverse-enter.slide-reverse-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
}

.slide-reverse-leave {
  transition: -webkit-transform .5s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
}

.slide-reverse-leave.slide-reverse-leave-active {
  -webkit-transform: translate3d(100%, 0, 0);
}

/* --- */

.fade-enter {
  transition: opacity .5s ease-in;
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  transition: opacity .5s ease-in;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
}

/* LigatureSymbols */

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../bower_components/ligature-symbols/LigatureSymbols-2.11.eot');
    src: url('../bower_components/ligature-symbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('../bower_components/ligature-symbols/LigatureSymbols-2.11.woff') format('woff'),
         url('../bower_components/ligature-symbols/LigatureSymbols-2.11.ttf') format('truetype'),
         url('../bower_components/ligature-symbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('../bower_components/ligature-symbols/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
    font-family: 'LigatureSymbols';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
       -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
         -o-font-smoothing: antialiased;
            font-smoothing: antialiased;
}

.lsf-icon:before {
    content: attr(title);
    margin-right: .3em;
    font-size: 130%;
}
