@(piece: models.Piece, form: Form[(String, String)])

<!DOCTYPE html>
<html>
  <head>
    <title>Pieces</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/iphone.css")">
    <meta name="viewport" content="width=device-width, user-scalable=no" >
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
  </head>
    <body>
      <span class="thank_you">Thanks for your ordering.</span>
      <span class="p_type">@piece.pieceType</span>

@for(sheet <- piece.sheets) {
<div class="pieces">
  <span class="qty">×@sheet.qty</span>
  
  @for(photo <- sheet.photos) {
    <img src="@photo.url">
  }
</div>
}
        <h3>Shipping To:</h3>
  @helper.form(action = routes.OrderController.saveAddress(piece.token)) {
      @helper.inputText(form("name"))

      @helper.inputText(form("address"))

      <button>Save</button>
  }

 <p>* Every Pieces will be made in 5 business days, free worldwide shipping!</p>


          </body>
</html>
